# Python
__pycache__/
*.py[cod]
venv/
.env

# Machine Learning
*.pkl
*.joblib

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

venv/
__pycache__/
.env
*.db
*.sqlite
*.sqlite3